<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.app.khayapopularmovies">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- COMPLETED SUGGESTION Consider the layout of your code so it is more readable - eases maintenance, helps reduce errors -->

    <application
        android:allowBackup="true"
        android:background="@drawable/gradient_down"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_radio_button_checked_black_24dp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MovieDetailActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
            <!-- COMPLETED SUGGESTION Perhaps with better formatting this typo might have been caught 'neta-data' :^)  -->
        </activity>

        <provider
            android:name="com.example.android.app.khayapopularmovies.data.FavoriteContentProvider"
            android:authorities="com.example.android.app.khayapopularmovies"
            android:exported="false" />

    </application>


</manifest>
